{% extends 'base.html' %}

{% block content %}
</br>
</br>
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form class= "form-horizontal" role="form" action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
    {% for choice in question.choice_set.all %}
    <div class="col-sm-4 col-md-offset-4">
        <label>
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            {{ choice.choice_text }}
        </label>
    </div>
    {% endfor %}
    </div>
    <input class="btn btn-lg btn-default" type="submit" value="Vote" />
</form>

{% endblock %}
